body {
  font-family: 'Courier new', monospace;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}
.dark {
  background: #000;
  color: #ccc;
}
.dark .logo {
  filter: invert(1);
}
h1 {
  margin-top: 24px;
  margin-bottom: 36px;
  color: #fff;
  font-weight: 500;
}
.container {
  max-width: 700px;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  padding-bottom: 100px;
  position: relative;
}
p {
  margin-bottom: 20px;
  line-height: 1.5;
}
.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
  overflow: visible; 
  z-index: 999;
  color: #fff
  
}
.tooltip:hover {
  color: #aaa;
  border-bottom: 1px dotted #fff;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 10px 10px;
  position: absolute;
  z-index: 999;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px;
  overflow: visible; 
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  overflow: visible;
  z-index: 999;
}
strong {
  font-weight: 700;
}
.table {
  background-color: #000;
  padding-top: 16px;
  padding-bottom: 24px;
  width: 100%;
  border: 1px solid;
  border-color: #333;  
}

.table th {
  padding-right: 0px; 
  padding-left: 24px;
  font-weight: normal;
  
  padding-top: 5px; 
  padding-bottom: 5px; 
  margin-top: 0px;
  vertical-align: top;
}

li {
  margin-bottom: 10px;
}

ol {
  margin-top: 0px;
}

ul {
  margin-top: 0px;
  list-style-type: circle;
  padding-left: 24px;
}

th {
  padding-bottom: 10px; 
  padding-right: 20px;
  margin-top: 0px;
  font-weight: normal;
  
}

table {
  border-spacing: 0px;
  width: 100%;
}
.crossed-text {
  text-decoration: line-through;
  color: #ccc;
  text-decoration-color: #ccc;
  
}
.symbol
{
  font-family: Times New Roman;
}

a {
  text-decoration:none;
  color: #fff;
}

a:hover{
  color: #ccc;
  text-decoration: underline;
}

.pretzel-box-1 svg {
  transition: 0.6s;
}
.pretzel-box-1 svg:hover {
  transform: rotate(360deg); 
  fill: #e7512a;
}
.connectWallet {
  background: #000;
  border: none;
  position: absolute;
  top: 12px;
  right: 20px;
}

tc-root * {
  font-family: 'Courier New', monospace;
}

h3 {
 color: #fff;
 font-weight: 700;
 padding-top: 20px;
}

.getShare {
  width: 350px;
  padding-left: 20px; 
  font-size: 12px;
}
.getShareButton {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: 1px solid #aeb3bc;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -webkit-box-align: center;
  align-items: center;
  display: inline-flex;
  border-color: #aeb3bc;
  box-shadow: 3px 3px 0 #153c8a;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px;
}
.getShareButton:active {
  box-shadow: none;
  transform: translate3d(3px, 3px, 3px);
}

.getShareButton:hover {
  color: #1763fd;
  border-color: #1763fd;
  background-color: #1763fd1a;
}

.inviteContract { 
  font-size: 2em;
}
.inviteContractCopy {
  font-size: inherit;
  background: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}
.smallCopy {
  font-size: 0.5em;
  vertical-align: top;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #333;
  margin: 35px auto;
  border: none;
}